<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>YelpCamp</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/main.css">
      <!-- Font Awesome CDN -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/"><span><i class="fas fa-campground"></i></span> YelpCamp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
            <a href="/campgrounds" class="nav-link active">Home</a>
          </li>
          <% if(!currentUser){ %>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
            <a href="/register" class="nav-link">Sign Up</a>
          </li>
           <% } else { %>
          <li class="nav-item">
            <a href="#" class="nav-link"><%= currentUser.username %></a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
          </li>
          <% } %>
        </ul>
        <form action="/campgrounds" method="GET" class="form-inline my-2 my-lg-0" id="campground-search">
              <div class="form-group">
                <input type="text" name="search" placeholder="Search Campgrounds..." aria-label="Search" class="form-control pr-5 mr-2 ml-0-sm">
            </div>
        </form>
      </div>
    </nav>
    
    <div class="container">
       <% if(error && error.length > 0) { %>
         <div class="alert alert-danger" role="alert"><%=error %></div>
       <% } %>
       
       <% if(success && success.length > 0) { %>
         <div class="alert alert-success" role="alert"><%= success %></div>
       <% } %>
    </div>
<div class="container">